#informacoes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#catalogoBebidas{
    flex-direction: column;
}

#grupoCartoesBeC{
    flex-direction: column;
    align-items: center;
}

