:root{
    --corPrimaria : #22110a;
    --corSecundaria : #712e09;
    --corTercearia : #fff4e4;
    --corBranco: #ffffff;
    --corPreto: black;
    --corLaranja: #fd7e14;
}

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer{
    background-color: var(--corSecundaria);
    
}

.nav-link,.active, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: var(--corBranco);
}


.active{
    border-bottom: var(--corTercearia) 3px solid;
}

#btnLogin{
    border: none;
    color: var(--corBranco);
}

#tagBebidas{
    width: 25%;
    height: 450px;
    background-image: url(../images/bebidas/bebida02.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grupoBebidasEcomidas a{
    text-decoration: none;
    color: var(--corBranco);
}

#tagComidas{
    width: 25%;
    height: 450px;
    background-image: url(../images/comidas/croissant.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

#tagMuitoMais{
    width: 25%;
    height: 450px;
    background-color: var(--corTercearia);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.grupoMais a{
    text-decoration: none;
    color: var(--corSecundaria);
}

#btnVejaCardapio{
    border: none;
    background-color: transparent;
    color: var(--corLaranja);
    font-size: large;
}

#imgMuffin{
    width: 50%;
    height: 600px;
    background-image: url(../images/comidas/muffin02.jpg);
    background-size: cover;
}

#cadastro{
    display: flex;
    justify-content: right;
    margin-right: 15px;
    padding-bottom: 20px;
}

.card{
    border:none;
    border: var(--corSecundaria) 1px solid;
    background-color: var(--corBranco);
}

#informacoes{
    display: flex;
    gap: 30px;
}

#visitar img{
    height: 60px;
    margin-top: 20px;
}

#localizacao a{
    text-decoration: none;
    color: var(--corPreto);
}

#whatsapp a{
    text-decoration: none;
    color: var(--corPreto);
}

.cardBebidas {
    border: none;
    background-color: #712d0918;
}



